<!DOCTYPE html>
<html xmlns="http://www.13ai.club" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
   <title>{{ page.title }}</title>
   <meta name="author" content="Ottiou Bai" />
   <link href="http://www.13ai.club" rel="alternate" title="13AI" type="application/atom+xml" />
   <!-- <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
   
   <!-- mathjax -->
   <script type="text/javascript"
	 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	 MathJax.Hub.Config({
	  tex2jax: {
		inlineMath: [['$','$']],
		displayMath: [['$$','$$']],
		processEscapes: true
	  }
	});
	</script>


</head>
<body>
	<div class="site">
	<div class="title">
		<!-- <img src="/images/logo.png"/></a> -->
		<a href="/">13AI</a>
<!-- 		<a class="extra" href="/">Home</a> -->
		<a class="extra" href="/math.md">数学</a>
		<a class="extra" href="/ai.md">AI</a>
		<a class="extra" href="/pak-cv.pdf">CV</a>
	</div>
		
	{{ content }}
	
	<div class="footer">
    <div class="contact">
      <p>
        13AI
        <!--<br />
		算法工程师
		<br />
		数学学者 -->
      </p>
    </div>
    <div class="contact">
      <p>
        <!--Ottiou Bai
        <br /> -->
		算法工程师&数学学者
      </p>
    </div>
    <div class="contact">
	  <p>
		contact:
		<!--<br />-->
		<a href="mailto:13aixiang@gmail.com">13aixiang@gmail.com</a>
		<!--<br />-->
		<!-- <a href="http://github.com/ottiou/">github.com/ottiou</a><br /> -->
	  </p>
    </div>
  </div>
</div>

</body>
</html>
