<!DOCTYPE html>
<html xmlns="http://www.13ai.club" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ottiou Bai" />
   <link href="http://www.13ai.club" rel="alternate" title="13AI" type="application/atom+xml" />
   <!-- icon -->
   <link rel="icon" type="image/png" href="/favicon.ico"/>
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
   <link rel="bookmark" type="image/x-icon" href="/favicon.ico"/>
   <link rel="apple-touch-icon" href="/apple-icon.png"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
   
   <!-- mathjax -->
   <script type="text/javascript"
     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
     MathJax.Hub.Config({
      // jax: ["input/TeX", "output/HTML-CSS"], 
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [['$$','$$']],
        processEscapes: true
        // skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'] }, 
        // messageStyle: "none", 
        // "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"]
      }
    });
    </script>
    <style>
    /*公式去掉外边框，自动换行*/
    .MathJax_Display{overflow-x:auto;overflow-y:hidden;}
    .MathJax{outline:0;}
    </style>

    <!-- conflict mathjx2markdown -->
    <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('code').forEach(code => {
        const text = code.innerHTML;
        is_inline_math = /^\$(.*)\$$/.exec(text);
        is_display_math = /^\$\$(.*)\$\$$/ms.exec(text) || /^\\begin\{.+\}(.*)\\end\{.+\}/ms.exec(text);
        if (is_inline_math || is_display_math) {
          code.parentElement.classList.add('has-jax');
          if (is_inline_math) {
            code.outerHTML = "<span class=yuuki_mathjax_inline>" + text + "</span>";
          } else {
            code.outerHTML = "<span class=yuuki_mathjax_display>" + text + "</span>";
          }
        }
      });
    });
    </script>


</head>
<body>
    <div class="site">
    <div class="title">
        <!-- <img src="/images/logo.png"/></a> -->
        <a href="/">13AI</a>
<!--        <a class="extra" href="/">Home</a> -->
        <a class="extra" href="/math">数学</a>
        <a class="extra" href="/ai">AI</a>
        <a class="extra" href="/other">其他</a>
        <a class="extra" href="/about">关于</a>
    </div>
        
    {{ content }}
    
    <div class="footer">
    <div class="contact">
      <p>
        13AI
      </p>
    </div>
    <div class="contact">
      <p> 版权和内容问题请邮件联系。
        
      </p>
    </div>
    <div class="contact">
      <p>
        contact:
        <!--<br />-->
        <a href="mailto:13aixiang@gmail.com">13aixiang@gmail.com</a>
        <!--<br />-->
        <!-- <a href="http://github.com/ottiou/">github.com/ottiou</a><br /> -->
      </p>
    </div>
  </div>
</div>

</body>
</html>
