---
layout: default
---
<div id="body">
{{ title }}
</div>

<div id="post">
{{ content }}
</div>

<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
  clientID: '728ed20b831546783d0c',
  clientSecret: 'c0b03c6443332d259edf16df788504de4d6114ee',
  repo: '13ai.github.io',
  owner: '13ai',
  admin: ['13ai'],
  id: '{{ page.id }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script> -->

<div id="related">
  <h2>最近更新</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
